{% extends 'layout/base.html' %}

{% block title %}
Home - AEZAQ COURSES
{% endblock %}

{% block content %}


    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">About</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">About</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


   <!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="static/img/about.jpg" alt="">
            </div>
            <div class="col-lg-7">
                <div class="text-left mb-4">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">About Us</h5>
                    <h1> Inovatif untuk Belajar mudah</h1>
                </div>
                <p>
                    <span class="text-primary" style="font-size: 1.5em">Aezaq Courses</span> adalah platform e-learning inovatif yang dirancang untuk membantu Anda belajar berbagai ilmu dan keterampilan dengan mudah dari rumah tanpa harus keluar, serta dapat diakses dengan harga yang terjangkau untuk semua kalangan, termasuk pelajar. Kami menawarkan beragam kursus menarik seperti Front-End Development, Back-End Development, UI/UX Design, Mobile App Development, Digital Marketing, Bahasa Asing, dan banyak lagi, yang diajarkan oleh para profesional dengan materi terkini. Dengan Aezaq Course, kami percaya bahwa setiap orang memiliki potensi besar untuk berkembang, sehingga kami hadir untuk mendukung perjalanan belajar Anda agar lebih fleksibel, efektif, dan menyenangkan. Mari wujudkan impian Anda bersama Aezaq Course!
                </p>
                
                <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


    <!-- Registration Start -->
    <div class="container-fluid bg-registration py-5" style="margin: 20px 0;">
        <div class="container py-5">
            <div class="row align-items-center">
                <!-- Bagian Kiri -->
                <div class="col-lg-7 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Belajar Lebih Mudah</h5>
                        <h1 class="text-white">Diskon 30% untuk Siswa Baru!</h1>
                    </div>
                    <p class="text-white">
                        Raih impianmu bersama Aezaq Courses. Temukan program pembelajaran terbaik yang dirancang khusus untuk meningkatkan keterampilanmu dan membuka peluang karier yang lebih cerah.
                    </p>
                    <ul class="list-inline text-white m-0">
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Pembelajaran yang disesuaikan untuk setiap siswa</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Bimbingan dari instruktur terbaik di bidangnya</li>
                        <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Jadwal fleksibel sesuai kebutuhan Anda</li>
                    </ul>
                </div>
    
    
                <!-- Bagian Kanan -->
                <div class="col-lg-5">
                    <div class="card border-0">
                        <div class="card-header bg-light text-center p-4">
                            <h1 class="m-0">Sign Up Now</h1>
                        </div>
                        <div class="card-body rounded-bottom bg-primary p-5">
                            
                            <!-- Tombol Tambahan -->
                            <div class="mt-4 text-center">
                                <button class="btn btn-outline-light btn-lg px-5">
                                    Learn More
                                </button>
                                <button class="btn btn-outline-light btn-lg px-5 ms-3">
                                    Contact Us
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Registration End -->




{% endblock %}