 <!-- Navbar Start -->
 <div class="container-fluid fixed-top bg-light border border-bottom-5 border-black">
    <div class="row border-top px-xl-5 align-items-center">
        <!-- Logo Section -->
        <div class="col-lg-3 text-center text-lg-left d-none d-lg-block">
            <a href="index.html" class="text-decoration-none">
                <h2 class="m-3"><span class="text-primary">AEZAQ</span>COURSES</h2>
            </a>
        </div>

        <!-- Navigation Section -->
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0"><span class="text-primary">AEZAQ</span>COURSES</h2>
                </a>
                <!-- Navbar Toggle for Mobile -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar Links -->
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <!-- Links (Centered) -->
                    <div class="navbar-nav mx-auto py-0">
                        <a href="{{ url_for('home') }}" class="nav-item nav-link {% if request.endpoint == 'home' %}active{% endif %}">Home</a>
                        <a href="{{ url_for('about') }}" class="nav-item nav-link {% if request.endpoint == 'about' %}active{% endif %}">About</a>
                        <a href="{{ url_for('course') }}" class="nav-item nav-link {% if request.endpoint == 'course' %}active{% endif %}">Courses</a>
                        <a href="{{ url_for('teacher') }}" class="nav-item nav-link {% if request.endpoint == 'teacher' %}active{% endif %}">Teachers</a>
                        <a href="{{ url_for('contact') }}" class="nav-item nav-link {% if request.endpoint == 'contact' %}active{% endif %}">Contact</a>
                    </div>
                    
                    <!-- Login Button -->
                    <a class="btn btn-primary py-2 px-4 d-none d-lg-block" href="{{ url_for('login_student') }}">Log Out</a>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar End -->
